

<h3>The Rules:</h3>
<ul>
  <li>Player 1 chooses either rock, paper, or scissors</li>
  <li>Player 2 secretly chooses rock, paper or scissors</li>
  <li>Compare choices:</li>
  <li>Rock blunts scissors (rock wins!)</li>
  <li>Paper covers rock (paper wins!)</li>
  <li>Scissors cut paper (scissors wins!)</li>
  <li>Both the same? Draw! Play again!</li>
</ul>
