<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rock Paper Sissors</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Rock Paper Scissors</h1>
    <nav>
      <ul>
        <li><a href="/home">Rules</a></li>
      </ul>
    </nav>
    <%= yield %>
    <footer><small>Some footer stuff</small></footer>
  </body>
</html>
